<table border="1" class="dataframe table table-hover" id="predictedTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>date</th>
      <th>interest_rate</th>
      <th>units_authorized_started</th>
      <th>avg_home_price</th>
      <th>homeownership_rate</th>
      <th>lumber_price_index</th>
      <th>house_supply</th>
      <th>new_housing_permits</th>
      <th>steel_price_index</th>
      <th>under_construction</th>
      <th>units_completed</th>
      <th>y_actual_output</th>
      <th>predicted</th>
      <th>error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1990-04-01</td>
      <td>10.32</td>
      <td>1212</td>
      <td>126800.0</td>
      <td>63.9</td>
      <td>56.64</td>
      <td>8.0</td>
      <td>1104</td>
      <td>117.47</td>
      <td>859</td>
      <td>1315</td>
      <td>126800.0</td>
      <td>122093.927692</td>
      <td>-4706.072308</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1990-07-01</td>
      <td>10.10</td>
      <td>1132</td>
      <td>117000.0</td>
      <td>63.9</td>
      <td>54.72</td>
      <td>8.0</td>
      <td>1041</td>
      <td>117.87</td>
      <td>812</td>
      <td>1305</td>
      <td>117000.0</td>
      <td>122152.159757</td>
      <td>5152.159757</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>1990-10-01</td>
      <td>9.96</td>
      <td>1043</td>
      <td>121500.0</td>
      <td>64.0</td>
      <td>51.38</td>
      <td>8.0</td>
      <td>909</td>
      <td>117.07</td>
      <td>756</td>
      <td>1234</td>
      <td>121500.0</td>
      <td>114554.583477</td>
      <td>-6945.416523</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>1991-01-01</td>
      <td>9.50</td>
      <td>895</td>
      <td>120000.0</td>
      <td>64.0</td>
      <td>51.48</td>
      <td>8.0</td>
      <td>850</td>
      <td>116.47</td>
      <td>701</td>
      <td>1138</td>
      <td>120000.0</td>
      <td>118733.255534</td>
      <td>-1266.744466</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>1991-04-01</td>
      <td>9.52</td>
      <td>1011</td>
      <td>119900.0</td>
      <td>64.1</td>
      <td>56.66</td>
      <td>7.0</td>
      <td>957</td>
      <td>114.47</td>
      <td>662</td>
      <td>1085</td>
      <td>119900.0</td>
      <td>117634.014647</td>
      <td>-2265.985353</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>1991-07-01</td>
      <td>9.27</td>
      <td>1042</td>
      <td>120000.0</td>
      <td>64.1</td>
      <td>57.52</td>
      <td>7.0</td>
      <td>964</td>
      <td>113.03</td>
      <td>645</td>
      <td>1114</td>
      <td>120000.0</td>
      <td>116608.468619</td>
      <td>-3391.531381</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>1991-10-01</td>
      <td>8.69</td>
      <td>1087</td>
      <td>120000.0</td>
      <td>64.1</td>
      <td>55.95</td>
      <td>6.0</td>
      <td>1012</td>
      <td>112.33</td>
      <td>633</td>
      <td>1030</td>
      <td>120000.0</td>
      <td>117925.082452</td>
      <td>-2074.917548</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>1992-01-01</td>
      <td>8.69</td>
      <td>1241</td>
      <td>119500.0</td>
      <td>64.1</td>
      <td>63.74</td>
      <td>5.0</td>
      <td>1102</td>
      <td>112.37</td>
      <td>642</td>
      <td>1096</td>
      <td>119500.0</td>
      <td>120962.717884</td>
      <td>1462.717884</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>1992-04-01</td>
      <td>8.68</td>
      <td>1153</td>
      <td>120000.0</td>
      <td>64.1</td>
      <td>67.32</td>
      <td>6.0</td>
      <td>1056</td>
      <td>111.97</td>
      <td>648</td>
      <td>1153</td>
      <td>120000.0</td>
      <td>121244.640340</td>
      <td>1244.640340</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>1992-07-01</td>
      <td>8.02</td>
      <td>1184</td>
      <td>120000.0</td>
      <td>64.1</td>
      <td>64.19</td>
      <td>5.0</td>
      <td>1093</td>
      <td>111.20</td>
      <td>634</td>
      <td>1171</td>
      <td>120000.0</td>
      <td>120216.861209</td>
      <td>216.861209</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>1992-10-01</td>
      <td>8.19</td>
      <td>1228</td>
      <td>126000.0</td>
      <td>64.3</td>
      <td>66.69</td>
      <td>5.0</td>
      <td>1142</td>
      <td>110.33</td>
      <td>641</td>
      <td>1187</td>
      <td>126000.0</td>
      <td>125064.272986</td>
      <td>-935.727014</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>1993-01-01</td>
      <td>7.72</td>
      <td>1168</td>
      <td>125000.0</td>
      <td>63.9</td>
      <td>84.53</td>
      <td>5.0</td>
      <td>1127</td>
      <td>112.80</td>
      <td>636</td>
      <td>1159</td>
      <td>125000.0</td>
      <td>128856.997450</td>
      <td>3856.997450</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>1993-04-01</td>
      <td>7.45</td>
      <td>1266</td>
      <td>127000.0</td>
      <td>64.0</td>
      <td>87.88</td>
      <td>5.0</td>
      <td>1115</td>
      <td>114.43</td>
      <td>646</td>
      <td>1173</td>
      <td>127000.0</td>
      <td>126692.082329</td>
      <td>-307.917671</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>1993-07-01</td>
      <td>7.09</td>
      <td>1299</td>
      <td>127000.0</td>
      <td>64.0</td>
      <td>80.14</td>
      <td>5.0</td>
      <td>1218</td>
      <td>116.83</td>
      <td>668</td>
      <td>1175</td>
      <td>127000.0</td>
      <td>129649.321207</td>
      <td>2649.321207</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>1993-10-01</td>
      <td>7.05</td>
      <td>1434</td>
      <td>127000.0</td>
      <td>64.1</td>
      <td>87.76</td>
      <td>5.0</td>
      <td>1368</td>
      <td>119.90</td>
      <td>695</td>
      <td>1257</td>
      <td>127000.0</td>
      <td>132841.177090</td>
      <td>5841.177090</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>1994-01-01</td>
      <td>7.30</td>
      <td>1391</td>
      <td>130000.0</td>
      <td>64.0</td>
      <td>93.54</td>
      <td>5.0</td>
      <td>1334</td>
      <td>121.70</td>
      <td>719</td>
      <td>1279</td>
      <td>130000.0</td>
      <td>132541.885301</td>
      <td>2541.885301</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>1994-04-01</td>
      <td>8.43</td>
      <td>1467</td>
      <td>130000.0</td>
      <td>63.9</td>
      <td>87.00</td>
      <td>6.0</td>
      <td>1382</td>
      <td>120.27</td>
      <td>749</td>
      <td>1380</td>
      <td>130000.0</td>
      <td>133441.427538</td>
      <td>3441.427538</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>1994-07-01</td>
      <td>8.59</td>
      <td>1454</td>
      <td>129700.0</td>
      <td>63.9</td>
      <td>85.13</td>
      <td>6.0</td>
      <td>1375</td>
      <td>121.93</td>
      <td>770</td>
      <td>1348</td>
      <td>129700.0</td>
      <td>130090.772857</td>
      <td>390.772857</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>1994-10-01</td>
      <td>9.11</td>
      <td>1472</td>
      <td>132000.0</td>
      <td>64.1</td>
      <td>83.57</td>
      <td>6.0</td>
      <td>1378</td>
      <td>123.97</td>
      <td>781</td>
      <td>1376</td>
      <td>132000.0</td>
      <td>129294.839933</td>
      <td>-2705.160067</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>1995-01-01</td>
      <td>8.79</td>
      <td>1324</td>
      <td>130000.0</td>
      <td>64.4</td>
      <td>81.97</td>
      <td>7.0</td>
      <td>1254</td>
      <td>128.23</td>
      <td>782</td>
      <td>1377</td>
      <td>130000.0</td>
      <td>129561.971969</td>
      <td>-438.028031</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>1995-04-01</td>
      <td>7.92</td>
      <td>1287</td>
      <td>133900.0</td>
      <td>64.7</td>
      <td>78.27</td>
      <td>6.0</td>
      <td>1278</td>
      <td>129.80</td>
      <td>759</td>
      <td>1303</td>
      <td>133900.0</td>
      <td>128001.875244</td>
      <td>-5898.124756</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>1995-07-01</td>
      <td>7.70</td>
      <td>1415</td>
      <td>132000.0</td>
      <td>64.8</td>
      <td>78.64</td>
      <td>6.0</td>
      <td>1387</td>
      <td>129.90</td>
      <td>772</td>
      <td>1299</td>
      <td>132000.0</td>
      <td>135613.162271</td>
      <td>3613.162271</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>1995-10-01</td>
      <td>7.34</td>
      <td>1417</td>
      <td>138000.0</td>
      <td>65.1</td>
      <td>75.82</td>
      <td>6.0</td>
      <td>1424</td>
      <td>127.30</td>
      <td>789</td>
      <td>1298</td>
      <td>138000.0</td>
      <td>134840.141675</td>
      <td>-3159.858325</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>1996-01-01</td>
      <td>7.27</td>
      <td>1461</td>
      <td>137000.0</td>
      <td>65.3</td>
      <td>75.58</td>
      <td>6.0</td>
      <td>1415</td>
      <td>126.33</td>
      <td>803</td>
      <td>1363</td>
      <td>137000.0</td>
      <td>141462.457542</td>
      <td>4462.457542</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>1996-04-01</td>
      <td>8.10</td>
      <td>1496</td>
      <td>139900.0</td>
      <td>65.4</td>
      <td>83.37</td>
      <td>6.0</td>
      <td>1450</td>
      <td>126.13</td>
      <td>828</td>
      <td>1396</td>
      <td>139900.0</td>
      <td>141568.758510</td>
      <td>1668.758510</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>1996-07-01</td>
      <td>8.15</td>
      <td>1501</td>
      <td>140000.0</td>
      <td>65.4</td>
      <td>87.00</td>
      <td>5.0</td>
      <td>1418</td>
      <td>126.13</td>
      <td>823</td>
      <td>1433</td>
      <td>140000.0</td>
      <td>139097.896497</td>
      <td>-902.103503</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>1996-10-01</td>
      <td>7.70</td>
      <td>1417</td>
      <td>144100.0</td>
      <td>65.4</td>
      <td>88.23</td>
      <td>5.0</td>
      <td>1394</td>
      <td>124.67</td>
      <td>821</td>
      <td>1431</td>
      <td>144100.0</td>
      <td>139951.081594</td>
      <td>-4148.918406</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>1997-01-01</td>
      <td>7.79</td>
      <td>1433</td>
      <td>145000.0</td>
      <td>65.5</td>
      <td>91.48</td>
      <td>4.0</td>
      <td>1421</td>
      <td>126.10</td>
      <td>812</td>
      <td>1456</td>
      <td>145000.0</td>
      <td>144841.400908</td>
      <td>-158.599092</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>1997-04-01</td>
      <td>7.93</td>
      <td>1476</td>
      <td>145800.0</td>
      <td>65.7</td>
      <td>94.93</td>
      <td>5.0</td>
      <td>1412</td>
      <td>125.97</td>
      <td>817</td>
      <td>1384</td>
      <td>145800.0</td>
      <td>145876.165527</td>
      <td>76.165527</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>1997-07-01</td>
      <td>7.47</td>
      <td>1458</td>
      <td>145000.0</td>
      <td>65.8</td>
      <td>91.63</td>
      <td>4.0</td>
      <td>1461</td>
      <td>126.77</td>
      <td>839</td>
      <td>1362</td>
      <td>145000.0</td>
      <td>143166.329256</td>
      <td>-1833.670744</td>
    </tr>
    <tr>
      <th>30</th>
      <td>30</td>
      <td>1997-10-01</td>
      <td>7.21</td>
      <td>1532</td>
      <td>144200.0</td>
      <td>65.8</td>
      <td>86.01</td>
      <td>4.0</td>
      <td>1475</td>
      <td>127.00</td>
      <td>865</td>
      <td>1415</td>
      <td>144200.0</td>
      <td>145753.709919</td>
      <td>1553.709919</td>
    </tr>
    <tr>
      <th>31</th>
      <td>31</td>
      <td>1998-01-01</td>
      <td>7.05</td>
      <td>1559</td>
      <td>152200.0</td>
      <td>66.0</td>
      <td>84.85</td>
      <td>4.0</td>
      <td>1602</td>
      <td>126.43</td>
      <td>896</td>
      <td>1411</td>
      <td>152200.0</td>
      <td>148391.018491</td>
      <td>-3808.981509</td>
    </tr>
    <tr>
      <th>32</th>
      <td>32</td>
      <td>1998-04-01</td>
      <td>7.10</td>
      <td>1572</td>
      <td>149500.0</td>
      <td>66.1</td>
      <td>81.91</td>
      <td>4.0</td>
      <td>1551</td>
      <td>125.27</td>
      <td>915</td>
      <td>1477</td>
      <td>149500.0</td>
      <td>155606.358280</td>
      <td>6106.358280</td>
    </tr>
    <tr>
      <th>33</th>
      <td>33</td>
      <td>1998-07-01</td>
      <td>6.87</td>
      <td>1631</td>
      <td>153000.0</td>
      <td>66.6</td>
      <td>79.37</td>
      <td>4.0</td>
      <td>1614</td>
      <td>122.43</td>
      <td>944</td>
      <td>1508</td>
      <td>153000.0</td>
      <td>154460.927978</td>
      <td>1460.927978</td>
    </tr>
    <tr>
      <th>34</th>
      <td>34</td>
      <td>1998-10-01</td>
      <td>6.76</td>
      <td>1722</td>
      <td>153000.0</td>
      <td>66.5</td>
      <td>76.01</td>
      <td>4.0</td>
      <td>1711</td>
      <td>115.90</td>
      <td>984</td>
      <td>1496</td>
      <td>153000.0</td>
      <td>158456.687110</td>
      <td>5456.687110</td>
    </tr>
    <tr>
      <th>35</th>
      <td>35</td>
      <td>1999-01-01</td>
      <td>6.88</td>
      <td>1709</td>
      <td>157400.0</td>
      <td>66.7</td>
      <td>82.54</td>
      <td>4.0</td>
      <td>1706</td>
      <td>113.53</td>
      <td>985</td>
      <td>1577</td>
      <td>157400.0</td>
      <td>159342.331384</td>
      <td>1942.331384</td>
    </tr>
    <tr>
      <th>36</th>
      <td>36</td>
      <td>1999-04-01</td>
      <td>7.18</td>
      <td>1574</td>
      <td>158700.0</td>
      <td>66.7</td>
      <td>87.53</td>
      <td>4.0</td>
      <td>1647</td>
      <td>113.23</td>
      <td>987</td>
      <td>1617</td>
      <td>158700.0</td>
      <td>161674.557448</td>
      <td>2974.557448</td>
    </tr>
    <tr>
      <th>37</th>
      <td>37</td>
      <td>1999-07-01</td>
      <td>7.79</td>
      <td>1651</td>
      <td>159100.0</td>
      <td>66.8</td>
      <td>91.38</td>
      <td>4.0</td>
      <td>1635</td>
      <td>113.77</td>
      <td>985</td>
      <td>1601</td>
      <td>159100.0</td>
      <td>160463.455926</td>
      <td>1363.455926</td>
    </tr>
    <tr>
      <th>38</th>
      <td>38</td>
      <td>1999-10-01</td>
      <td>7.84</td>
      <td>1655</td>
      <td>165300.0</td>
      <td>66.9</td>
      <td>84.06</td>
      <td>4.0</td>
      <td>1668</td>
      <td>115.63</td>
      <td>983</td>
      <td>1616</td>
      <td>165300.0</td>
      <td>157424.116152</td>
      <td>-7875.883848</td>
    </tr>
    <tr>
      <th>39</th>
      <td>39</td>
      <td>2000-01-01</td>
      <td>8.26</td>
      <td>1659</td>
      <td>165300.0</td>
      <td>67.1</td>
      <td>85.59</td>
      <td>4.0</td>
      <td>1690</td>
      <td>118.30</td>
      <td>992</td>
      <td>1652</td>
      <td>165300.0</td>
      <td>164172.864412</td>
      <td>-1127.135588</td>
    </tr>
    <tr>
      <th>40</th>
      <td>40</td>
      <td>2000-04-01</td>
      <td>8.32</td>
      <td>1587</td>
      <td>163200.0</td>
      <td>67.3</td>
      <td>80.80</td>
      <td>5.0</td>
      <td>1571</td>
      <td>118.33</td>
      <td>985</td>
      <td>1607</td>
      <td>163200.0</td>
      <td>162200.637015</td>
      <td>-999.362985</td>
    </tr>
    <tr>
      <th>41</th>
      <td>41</td>
      <td>2000-07-01</td>
      <td>8.02</td>
      <td>1504</td>
      <td>168800.0</td>
      <td>67.5</td>
      <td>75.23</td>
      <td>4.0</td>
      <td>1555</td>
      <td>116.47</td>
      <td>975</td>
      <td>1532</td>
      <td>168800.0</td>
      <td>159189.933092</td>
      <td>-9610.066908</td>
    </tr>
    <tr>
      <th>42</th>
      <td>42</td>
      <td>2000-10-01</td>
      <td>7.62</td>
      <td>1544</td>
      <td>172900.0</td>
      <td>67.5</td>
      <td>73.21</td>
      <td>4.0</td>
      <td>1578</td>
      <td>113.30</td>
      <td>970</td>
      <td>1524</td>
      <td>172900.0</td>
      <td>166033.852796</td>
      <td>-6866.147204</td>
    </tr>
    <tr>
      <th>43</th>
      <td>43</td>
      <td>2001-01-01</td>
      <td>7.01</td>
      <td>1605</td>
      <td>169800.0</td>
      <td>67.6</td>
      <td>71.98</td>
      <td>4.0</td>
      <td>1671</td>
      <td>111.10</td>
      <td>991</td>
      <td>1487</td>
      <td>169800.0</td>
      <td>171589.061102</td>
      <td>1789.061102</td>
    </tr>
    <tr>
      <th>44</th>
      <td>44</td>
      <td>2001-04-01</td>
      <td>7.13</td>
      <td>1630</td>
      <td>179000.0</td>
      <td>67.8</td>
      <td>79.02</td>
      <td>4.0</td>
      <td>1652</td>
      <td>109.93</td>
      <td>1012</td>
      <td>1575</td>
      <td>179000.0</td>
      <td>171031.223202</td>
      <td>-7968.776798</td>
    </tr>
    <tr>
      <th>45</th>
      <td>45</td>
      <td>2001-07-01</td>
      <td>6.96</td>
      <td>1600</td>
      <td>172500.0</td>
      <td>67.9</td>
      <td>77.09</td>
      <td>4.0</td>
      <td>1593</td>
      <td>109.83</td>
      <td>1014</td>
      <td>1583</td>
      <td>172500.0</td>
      <td>177967.281172</td>
      <td>5467.281172</td>
    </tr>
    <tr>
      <th>46</th>
      <td>46</td>
      <td>2001-10-01</td>
      <td>6.77</td>
      <td>1570</td>
      <td>171100.0</td>
      <td>67.9</td>
      <td>71.92</td>
      <td>4.0</td>
      <td>1632</td>
      <td>107.83</td>
      <td>1005</td>
      <td>1616</td>
      <td>171100.0</td>
      <td>173432.836786</td>
      <td>2332.836786</td>
    </tr>
    <tr>
      <th>47</th>
      <td>47</td>
      <td>2002-01-01</td>
      <td>6.97</td>
      <td>1723</td>
      <td>188700.0</td>
      <td>67.9</td>
      <td>76.20</td>
      <td>4.0</td>
      <td>1714</td>
      <td>107.93</td>
      <td>1005</td>
      <td>1621</td>
      <td>188700.0</td>
      <td>173988.922406</td>
      <td>-14711.077594</td>
    </tr>
    <tr>
      <th>48</th>
      <td>48</td>
      <td>2002-04-01</td>
      <td>6.81</td>
      <td>1691</td>
      <td>187200.0</td>
      <td>67.8</td>
      <td>76.90</td>
      <td>4.0</td>
      <td>1714</td>
      <td>112.80</td>
      <td>1018</td>
      <td>1640</td>
      <td>187200.0</td>
      <td>188163.030465</td>
      <td>963.030465</td>
    </tr>
    <tr>
      <th>49</th>
      <td>49</td>
      <td>2002-07-01</td>
      <td>6.29</td>
      <td>1697</td>
      <td>178100.0</td>
      <td>67.9</td>
      <td>75.21</td>
      <td>4.0</td>
      <td>1745</td>
      <td>117.17</td>
      <td>1022</td>
      <td>1659</td>
      <td>178100.0</td>
      <td>188054.121657</td>
      <td>9954.121657</td>
    </tr>
    <tr>
      <th>50</th>
      <td>50</td>
      <td>2002-10-01</td>
      <td>6.08</td>
      <td>1730</td>
      <td>190100.0</td>
      <td>68.2</td>
      <td>72.83</td>
      <td>4.0</td>
      <td>1822</td>
      <td>118.33</td>
      <td>1030</td>
      <td>1663</td>
      <td>190100.0</td>
      <td>182998.806872</td>
      <td>-7101.193128</td>
    </tr>
    <tr>
      <th>51</th>
      <td>51</td>
      <td>2003-01-01</td>
      <td>5.84</td>
      <td>1736</td>
      <td>186000.0</td>
      <td>68.1</td>
      <td>73.08</td>
      <td>4.0</td>
      <td>1806</td>
      <td>119.80</td>
      <td>1046</td>
      <td>1660</td>
      <td>186000.0</td>
      <td>194432.519049</td>
      <td>8432.519049</td>
    </tr>
    <tr>
      <th>52</th>
      <td>52</td>
      <td>2003-04-01</td>
      <td>5.51</td>
      <td>1754</td>
      <td>191800.0</td>
      <td>68.2</td>
      <td>72.25</td>
      <td>4.0</td>
      <td>1838</td>
      <td>119.90</td>
      <td>1051</td>
      <td>1679</td>
      <td>191800.0</td>
      <td>192250.601500</td>
      <td>450.601500</td>
    </tr>
    <tr>
      <th>53</th>
      <td>53</td>
      <td>2003-07-01</td>
      <td>6.03</td>
      <td>1890</td>
      <td>191900.0</td>
      <td>68.3</td>
      <td>77.37</td>
      <td>4.0</td>
      <td>1937</td>
      <td>120.73</td>
      <td>1100</td>
      <td>1656</td>
      <td>191900.0</td>
      <td>199003.501350</td>
      <td>7103.501350</td>
    </tr>
    <tr>
      <th>54</th>
      <td>54</td>
      <td>2003-10-01</td>
      <td>5.92</td>
      <td>2036</td>
      <td>198800.0</td>
      <td>68.5</td>
      <td>78.50</td>
      <td>4.0</td>
      <td>1972</td>
      <td>125.53</td>
      <td>1159</td>
      <td>1712</td>
      <td>198800.0</td>
      <td>195748.919759</td>
      <td>-3051.080241</td>
    </tr>
    <tr>
      <th>55</th>
      <td>55</td>
      <td>2004-01-01</td>
      <td>5.60</td>
      <td>1918</td>
      <td>212700.0</td>
      <td>68.7</td>
      <td>84.91</td>
      <td>4.0</td>
      <td>1995</td>
      <td>142.63</td>
      <td>1202</td>
      <td>1740</td>
      <td>212700.0</td>
      <td>203497.131773</td>
      <td>-9202.868227</td>
    </tr>
    <tr>
      <th>56</th>
      <td>56</td>
      <td>2004-04-01</td>
      <td>6.11</td>
      <td>1937</td>
      <td>217600.0</td>
      <td>69.4</td>
      <td>96.81</td>
      <td>4.0</td>
      <td>2080</td>
      <td>154.97</td>
      <td>1228</td>
      <td>1896</td>
      <td>217600.0</td>
      <td>216517.086327</td>
      <td>-1082.913673</td>
    </tr>
    <tr>
      <th>57</th>
      <td>57</td>
      <td>2004-07-01</td>
      <td>5.89</td>
      <td>1977</td>
      <td>213500.0</td>
      <td>68.9</td>
      <td>99.85</td>
      <td>4.0</td>
      <td>2070</td>
      <td>171.40</td>
      <td>1244</td>
      <td>1863</td>
      <td>213500.0</td>
      <td>217381.423310</td>
      <td>3881.423310</td>
    </tr>
    <tr>
      <th>58</th>
      <td>58</td>
      <td>2004-10-01</td>
      <td>5.74</td>
      <td>1965</td>
      <td>228800.0</td>
      <td>69.1</td>
      <td>88.35</td>
      <td>4.0</td>
      <td>2086</td>
      <td>180.63</td>
      <td>1271</td>
      <td>1839</td>
      <td>228800.0</td>
      <td>216181.640571</td>
      <td>-12618.359429</td>
    </tr>
    <tr>
      <th>59</th>
      <td>59</td>
      <td>2005-01-01</td>
      <td>5.77</td>
      <td>2072</td>
      <td>232500.0</td>
      <td>69.2</td>
      <td>92.49</td>
      <td>4.0</td>
      <td>2105</td>
      <td>179.13</td>
      <td>1312</td>
      <td>1862</td>
      <td>232500.0</td>
      <td>232711.928773</td>
      <td>211.928773</td>
    </tr>
    <tr>
      <th>60</th>
      <td>60</td>
      <td>2005-04-01</td>
      <td>5.71</td>
      <td>2051</td>
      <td>233700.0</td>
      <td>68.7</td>
      <td>91.71</td>
      <td>4.0</td>
      <td>2138</td>
      <td>169.87</td>
      <td>1325</td>
      <td>1998</td>
      <td>233700.0</td>
      <td>235535.049794</td>
      <td>1835.049794</td>
    </tr>
    <tr>
      <th>61</th>
      <td>61</td>
      <td>2005-07-01</td>
      <td>5.76</td>
      <td>2100</td>
      <td>236400.0</td>
      <td>68.7</td>
      <td>88.52</td>
      <td>4.0</td>
      <td>2228</td>
      <td>163.67</td>
      <td>1357</td>
      <td>1920</td>
      <td>236400.0</td>
      <td>238533.265587</td>
      <td>2133.265587</td>
    </tr>
    <tr>
      <th>62</th>
      <td>62</td>
      <td>2005-10-01</td>
      <td>6.23</td>
      <td>2069</td>
      <td>243600.0</td>
      <td>68.9</td>
      <td>86.29</td>
      <td>5.0</td>
      <td>2169</td>
      <td>171.90</td>
      <td>1392</td>
      <td>1937</td>
      <td>243600.0</td>
      <td>239932.648136</td>
      <td>-3667.351864</td>
    </tr>
    <tr>
      <th>63</th>
      <td>63</td>
      <td>2006-01-01</td>
      <td>6.25</td>
      <td>2120</td>
      <td>247700.0</td>
      <td>68.6</td>
      <td>91.01</td>
      <td>6.0</td>
      <td>2157</td>
      <td>176.67</td>
      <td>1423</td>
      <td>2110</td>
      <td>247700.0</td>
      <td>244150.661490</td>
      <td>-3549.338510</td>
    </tr>
    <tr>
      <th>64</th>
      <td>64</td>
      <td>2006-04-01</td>
      <td>6.60</td>
      <td>1855</td>
      <td>246300.0</td>
      <td>68.8</td>
      <td>89.00</td>
      <td>6.0</td>
      <td>1923</td>
      <td>184.47</td>
      <td>1398</td>
      <td>2006</td>
      <td>246300.0</td>
      <td>248800.292432</td>
      <td>2500.292432</td>
    </tr>
    <tr>
      <th>65</th>
      <td>65</td>
      <td>2006-07-01</td>
      <td>6.56</td>
      <td>1702</td>
      <td>235600.0</td>
      <td>68.9</td>
      <td>80.58</td>
      <td>7.0</td>
      <td>1713</td>
      <td>193.80</td>
      <td>1340</td>
      <td>1941</td>
      <td>235600.0</td>
      <td>245094.263557</td>
      <td>9494.263557</td>
    </tr>
    <tr>
      <th>66</th>
      <td>66</td>
      <td>2006-10-01</td>
      <td>6.24</td>
      <td>1570</td>
      <td>245400.0</td>
      <td>68.8</td>
      <td>73.30</td>
      <td>7.0</td>
      <td>1581</td>
      <td>191.17</td>
      <td>1265</td>
      <td>1900</td>
      <td>245400.0</td>
      <td>236208.249992</td>
      <td>-9191.750008</td>
    </tr>
    <tr>
      <th>67</th>
      <td>67</td>
      <td>2007-01-01</td>
      <td>6.21</td>
      <td>1461</td>
      <td>257400.0</td>
      <td>68.5</td>
      <td>76.46</td>
      <td>8.0</td>
      <td>1607</td>
      <td>197.13</td>
      <td>1205</td>
      <td>1695</td>
      <td>257400.0</td>
      <td>246939.412630</td>
      <td>-10460.587370</td>
    </tr>
    <tr>
      <th>68</th>
      <td>68</td>
      <td>2007-04-01</td>
      <td>6.36</td>
      <td>1451</td>
      <td>242200.0</td>
      <td>68.3</td>
      <td>76.56</td>
      <td>8.0</td>
      <td>1457</td>
      <td>206.77</td>
      <td>1169</td>
      <td>1519</td>
      <td>242200.0</td>
      <td>253583.688907</td>
      <td>11383.688907</td>
    </tr>
    <tr>
      <th>69</th>
      <td>69</td>
      <td>2007-07-01</td>
      <td>6.55</td>
      <td>1289</td>
      <td>241800.0</td>
      <td>68.0</td>
      <td>76.67</td>
      <td>9.0</td>
      <td>1314</td>
      <td>201.53</td>
      <td>1125</td>
      <td>1467</td>
      <td>241800.0</td>
      <td>239112.487421</td>
      <td>-2687.512579</td>
    </tr>
    <tr>
      <th>70</th>
      <td>70</td>
      <td>2007-10-01</td>
      <td>6.22</td>
      <td>1166</td>
      <td>238400.0</td>
      <td>67.8</td>
      <td>70.98</td>
      <td>9.0</td>
      <td>1188</td>
      <td>198.80</td>
      <td>1078</td>
      <td>1374</td>
      <td>238400.0</td>
      <td>235932.659643</td>
      <td>-2467.340357</td>
    </tr>
    <tr>
      <th>71</th>
      <td>71</td>
      <td>2008-01-01</td>
      <td>5.87</td>
      <td>1064</td>
      <td>233900.0</td>
      <td>67.9</td>
      <td>67.16</td>
      <td>10.0</td>
      <td>1025</td>
      <td>216.40</td>
      <td>1027</td>
      <td>1267</td>
      <td>233900.0</td>
      <td>234457.771460</td>
      <td>557.771460</td>
    </tr>
    <tr>
      <th>72</th>
      <td>72</td>
      <td>2008-04-01</td>
      <td>6.09</td>
      <td>1011</td>
      <td>235300.0</td>
      <td>68.1</td>
      <td>71.23</td>
      <td>11.0</td>
      <td>1061</td>
      <td>268.43</td>
      <td>992</td>
      <td>1102</td>
      <td>235300.0</td>
      <td>231672.758762</td>
      <td>-3627.241238</td>
    </tr>
    <tr>
      <th>73</th>
      <td>73</td>
      <td>2008-07-01</td>
      <td>6.32</td>
      <td>862</td>
      <td>226500.0</td>
      <td>67.7</td>
      <td>71.67</td>
      <td>11.0</td>
      <td>859</td>
      <td>287.17</td>
      <td>932</td>
      <td>1088</td>
      <td>226500.0</td>
      <td>231107.897815</td>
      <td>4607.897815</td>
    </tr>
    <tr>
      <th>74</th>
      <td>74</td>
      <td>2008-10-01</td>
      <td>5.84</td>
      <td>663</td>
      <td>222500.0</td>
      <td>67.5</td>
      <td>65.49</td>
      <td>11.0</td>
      <td>639</td>
      <td>213.67</td>
      <td>841</td>
      <td>1051</td>
      <td>222500.0</td>
      <td>224179.719683</td>
      <td>1679.719683</td>
    </tr>
    <tr>
      <th>75</th>
      <td>75</td>
      <td>2009-01-01</td>
      <td>5.06</td>
      <td>526</td>
      <td>208400.0</td>
      <td>67.4</td>
      <td>60.90</td>
      <td>11.0</td>
      <td>539</td>
      <td>185.60</td>
      <td>752</td>
      <td>812</td>
      <td>208400.0</td>
      <td>218079.446363</td>
      <td>9679.446363</td>
    </tr>
    <tr>
      <th>76</th>
      <td>76</td>
      <td>2009-04-01</td>
      <td>5.01</td>
      <td>534</td>
      <td>220900.0</td>
      <td>67.4</td>
      <td>59.59</td>
      <td>10.0</td>
      <td>559</td>
      <td>169.73</td>
      <td>651</td>
      <td>820</td>
      <td>220900.0</td>
      <td>204878.374749</td>
      <td>-16021.625251</td>
    </tr>
    <tr>
      <th>77</th>
      <td>77</td>
      <td>2009-07-01</td>
      <td>5.16</td>
      <td>588</td>
      <td>214300.0</td>
      <td>67.4</td>
      <td>64.11</td>
      <td>8.0</td>
      <td>607</td>
      <td>186.30</td>
      <td>592</td>
      <td>770</td>
      <td>214300.0</td>
      <td>216040.106996</td>
      <td>1740.106996</td>
    </tr>
    <tr>
      <th>78</th>
      <td>78</td>
      <td>2009-10-01</td>
      <td>4.92</td>
      <td>568</td>
      <td>219000.0</td>
      <td>67.2</td>
      <td>64.77</td>
      <td>8.0</td>
      <td>623</td>
      <td>194.37</td>
      <td>534</td>
      <td>780</td>
      <td>219000.0</td>
      <td>211534.416900</td>
      <td>-7465.583100</td>
    </tr>
    <tr>
      <th>79</th>
      <td>79</td>
      <td>2010-01-01</td>
      <td>5.00</td>
      <td>618</td>
      <td>222900.0</td>
      <td>67.2</td>
      <td>70.78</td>
      <td>8.0</td>
      <td>658</td>
      <td>212.33</td>
      <td>495</td>
      <td>665</td>
      <td>222900.0</td>
      <td>217323.212789</td>
      <td>-5576.787211</td>
    </tr>
    <tr>
      <th>80</th>
      <td>80</td>
      <td>2010-04-01</td>
      <td>4.92</td>
      <td>602</td>
      <td>219500.0</td>
      <td>66.9</td>
      <td>76.17</td>
      <td>8.0</td>
      <td>600</td>
      <td>233.67</td>
      <td>470</td>
      <td>778</td>
      <td>219500.0</td>
      <td>219183.211411</td>
      <td>-316.788589</td>
    </tr>
    <tr>
      <th>81</th>
      <td>81</td>
      <td>2010-07-01</td>
      <td>4.45</td>
      <td>580</td>
      <td>224100.0</td>
      <td>66.7</td>
      <td>68.34</td>
      <td>8.0</td>
      <td>574</td>
      <td>223.60</td>
      <td>442</td>
      <td>599</td>
      <td>224100.0</td>
      <td>218976.918572</td>
      <td>-5123.081428</td>
    </tr>
    <tr>
      <th>82</th>
      <td>82</td>
      <td>2010-10-01</td>
      <td>4.44</td>
      <td>542</td>
      <td>224300.0</td>
      <td>66.5</td>
      <td>68.31</td>
      <td>8.0</td>
      <td>583</td>
      <td>224.53</td>
      <td>431</td>
      <td>574</td>
      <td>224300.0</td>
      <td>224189.275647</td>
      <td>-110.724353</td>
    </tr>
    <tr>
      <th>83</th>
      <td>83</td>
      <td>2011-01-01</td>
      <td>4.85</td>
      <td>582</td>
      <td>226900.0</td>
      <td>66.5</td>
      <td>72.30</td>
      <td>8.0</td>
      <td>567</td>
      <td>247.27</td>
      <td>425</td>
      <td>575</td>
      <td>226900.0</td>
      <td>224285.375746</td>
      <td>-2614.624254</td>
    </tr>
    <tr>
      <th>84</th>
      <td>84</td>
      <td>2011-04-01</td>
      <td>4.65</td>
      <td>574</td>
      <td>228100.0</td>
      <td>66.0</td>
      <td>70.63</td>
      <td>7.0</td>
      <td>612</td>
      <td>256.83</td>
      <td>416</td>
      <td>559</td>
      <td>228100.0</td>
      <td>225921.193640</td>
      <td>-2178.806360</td>
    </tr>
    <tr>
      <th>85</th>
      <td>85</td>
      <td>2011-07-01</td>
      <td>4.29</td>
      <td>619</td>
      <td>223500.0</td>
      <td>66.1</td>
      <td>70.44</td>
      <td>6.0</td>
      <td>626</td>
      <td>256.77</td>
      <td>416</td>
      <td>617</td>
      <td>223500.0</td>
      <td>230535.764425</td>
      <td>7035.764425</td>
    </tr>
    <tr>
      <th>86</th>
      <td>86</td>
      <td>2011-10-01</td>
      <td>4.00</td>
      <td>672</td>
      <td>221100.0</td>
      <td>65.9</td>
      <td>69.60</td>
      <td>6.0</td>
      <td>691</td>
      <td>252.07</td>
      <td>430</td>
      <td>587</td>
      <td>221100.0</td>
      <td>229947.773360</td>
      <td>8847.773360</td>
    </tr>
    <tr>
      <th>87</th>
      <td>87</td>
      <td>2012-01-01</td>
      <td>3.92</td>
      <td>707</td>
      <td>238400.0</td>
      <td>65.6</td>
      <td>71.44</td>
      <td>5.0</td>
      <td>752</td>
      <td>254.57</td>
      <td>450</td>
      <td>563</td>
      <td>238400.0</td>
      <td>228979.275655</td>
      <td>-9420.724345</td>
    </tr>
    <tr>
      <th>88</th>
      <td>88</td>
      <td>2012-04-01</td>
      <td>3.79</td>
      <td>739</td>
      <td>238700.0</td>
      <td>65.6</td>
      <td>76.46</td>
      <td>5.0</td>
      <td>774</td>
      <td>247.27</td>
      <td>474</td>
      <td>641</td>
      <td>238700.0</td>
      <td>245742.778264</td>
      <td>7042.778264</td>
    </tr>
    <tr>
      <th>89</th>
      <td>89</td>
      <td>2012-07-01</td>
      <td>3.55</td>
      <td>780</td>
      <td>248800.0</td>
      <td>65.4</td>
      <td>76.62</td>
      <td>5.0</td>
      <td>873</td>
      <td>233.00</td>
      <td>499</td>
      <td>671</td>
      <td>248800.0</td>
      <td>246019.940558</td>
      <td>-2780.059442</td>
    </tr>
    <tr>
      <th>90</th>
      <td>90</td>
      <td>2012-10-01</td>
      <td>3.36</td>
      <td>908</td>
      <td>251700.0</td>
      <td>65.3</td>
      <td>78.17</td>
      <td>5.0</td>
      <td>915</td>
      <td>228.00</td>
      <td>535</td>
      <td>692</td>
      <td>251700.0</td>
      <td>255387.896460</td>
      <td>3687.896460</td>
    </tr>
    <tr>
      <th>91</th>
      <td>91</td>
      <td>2013-01-01</td>
      <td>3.50</td>
      <td>953</td>
      <td>258400.0</td>
      <td>65.2</td>
      <td>91.27</td>
      <td>4.0</td>
      <td>952</td>
      <td>227.60</td>
      <td>579</td>
      <td>753</td>
      <td>258400.0</td>
      <td>259074.746977</td>
      <td>674.746977</td>
    </tr>
    <tr>
      <th>92</th>
      <td>92</td>
      <td>2013-04-01</td>
      <td>3.67</td>
      <td>868</td>
      <td>268100.0</td>
      <td>65.1</td>
      <td>90.76</td>
      <td>4.0</td>
      <td>986</td>
      <td>224.53</td>
      <td>618</td>
      <td>719</td>
      <td>268100.0</td>
      <td>263839.077357</td>
      <td>-4260.922643</td>
    </tr>
    <tr>
      <th>93</th>
      <td>93</td>
      <td>2013-07-01</td>
      <td>4.44</td>
      <td>882</td>
      <td>264800.0</td>
      <td>65.2</td>
      <td>83.47</td>
      <td>5.0</td>
      <td>988</td>
      <td>224.80</td>
      <td>652</td>
      <td>775</td>
      <td>264800.0</td>
      <td>270808.395551</td>
      <td>6008.395551</td>
    </tr>
    <tr>
      <th>94</th>
      <td>94</td>
      <td>2013-10-01</td>
      <td>4.29</td>
      <td>1009</td>
      <td>273600.0</td>
      <td>65.1</td>
      <td>86.85</td>
      <td>5.0</td>
      <td>1026</td>
      <td>228.77</td>
      <td>688</td>
      <td>806</td>
      <td>273600.0</td>
      <td>265479.160937</td>
      <td>-8120.839063</td>
    </tr>
    <tr>
      <th>95</th>
      <td>95</td>
      <td>2014-01-01</td>
      <td>4.36</td>
      <td>934</td>
      <td>275200.0</td>
      <td>64.9</td>
      <td>91.55</td>
      <td>5.0</td>
      <td>1027</td>
      <td>234.73</td>
      <td>718</td>
      <td>869</td>
      <td>275200.0</td>
      <td>274606.269105</td>
      <td>-593.730895</td>
    </tr>
    <tr>
      <th>96</th>
      <td>96</td>
      <td>2014-04-01</td>
      <td>4.23</td>
      <td>987</td>
      <td>288000.0</td>
      <td>64.8</td>
      <td>90.30</td>
      <td>6.0</td>
      <td>1039</td>
      <td>233.57</td>
      <td>756</td>
      <td>842</td>
      <td>288000.0</td>
      <td>275962.266706</td>
      <td>-12037.733294</td>
    </tr>
    <tr>
      <th>97</th>
      <td>97</td>
      <td>2014-07-01</td>
      <td>4.14</td>
      <td>1031</td>
      <td>281000.0</td>
      <td>64.3</td>
      <td>91.51</td>
      <td>6.0</td>
      <td>1067</td>
      <td>233.20</td>
      <td>793</td>
      <td>907</td>
      <td>281000.0</td>
      <td>287001.546687</td>
      <td>6001.546687</td>
    </tr>
    <tr>
      <th>98</th>
      <td>98</td>
      <td>2014-10-01</td>
      <td>3.96</td>
      <td>1049</td>
      <td>298900.0</td>
      <td>63.9</td>
      <td>89.08</td>
      <td>5.0</td>
      <td>1075</td>
      <td>226.93</td>
      <td>815</td>
      <td>913</td>
      <td>298900.0</td>
      <td>282808.877765</td>
      <td>-16091.122235</td>
    </tr>
    <tr>
      <th>99</th>
      <td>99</td>
      <td>2015-01-01</td>
      <td>3.72</td>
      <td>977</td>
      <td>289200.0</td>
      <td>63.8</td>
      <td>87.91</td>
      <td>5.0</td>
      <td>1083</td>
      <td>212.27</td>
      <td>834</td>
      <td>866</td>
      <td>289200.0</td>
      <td>301434.014410</td>
      <td>12234.014410</td>
    </tr>
    <tr>
      <th>100</th>
      <td>100</td>
      <td>2015-04-01</td>
      <td>3.82</td>
      <td>1158</td>
      <td>289100.0</td>
      <td>63.5</td>
      <td>84.70</td>
      <td>5.0</td>
      <td>1272</td>
      <td>199.83</td>
      <td>881</td>
      <td>992</td>
      <td>289100.0</td>
      <td>292397.022778</td>
      <td>3297.022778</td>
    </tr>
    <tr>
      <th>101</th>
      <td>101</td>
      <td>2015-07-01</td>
      <td>3.95</td>
      <td>1167</td>
      <td>295800.0</td>
      <td>63.6</td>
      <td>84.26</td>
      <td>5.0</td>
      <td>1150</td>
      <td>193.90</td>
      <td>923</td>
      <td>1001</td>
      <td>295800.0</td>
      <td>293778.297531</td>
      <td>-2021.702469</td>
    </tr>
    <tr>
      <th>102</th>
      <td>102</td>
      <td>2015-10-01</td>
      <td>3.90</td>
      <td>1125</td>
      <td>302500.0</td>
      <td>63.7</td>
      <td>82.90</td>
      <td>5.0</td>
      <td>1205</td>
      <td>176.30</td>
      <td>958</td>
      <td>1003</td>
      <td>302500.0</td>
      <td>299374.497175</td>
      <td>-3125.502825</td>
    </tr>
    <tr>
      <th>103</th>
      <td>103</td>
      <td>2016-01-01</td>
      <td>3.74</td>
      <td>1143</td>
      <td>299800.0</td>
      <td>63.5</td>
      <td>83.57</td>
      <td>6.0</td>
      <td>1154</td>
      <td>173.73</td>
      <td>979</td>
      <td>1032</td>
      <td>299800.0</td>
      <td>303925.543818</td>
      <td>4125.543818</td>
    </tr>
    <tr>
      <th>104</th>
      <td>104</td>
      <td>2016-04-01</td>
      <td>3.59</td>
      <td>1171</td>
      <td>306000.0</td>
      <td>63.1</td>
      <td>88.36</td>
      <td>5.0</td>
      <td>1187</td>
      <td>190.20</td>
      <td>1008</td>
      <td>1018</td>
      <td>306000.0</td>
      <td>301831.003163</td>
      <td>-4168.996837</td>
    </tr>
    <tr>
      <th>105</th>
      <td>105</td>
      <td>2016-07-01</td>
      <td>3.45</td>
      <td>1159</td>
      <td>303800.0</td>
      <td>63.4</td>
      <td>90.04</td>
      <td>5.0</td>
      <td>1225</td>
      <td>193.27</td>
      <td>1036</td>
      <td>1054</td>
      <td>303800.0</td>
      <td>310010.226777</td>
      <td>6210.226777</td>
    </tr>
    <tr>
      <th>106</th>
      <td>106</td>
      <td>2016-10-01</td>
      <td>3.84</td>
      <td>1235</td>
      <td>310900.0</td>
      <td>63.5</td>
      <td>88.50</td>
      <td>5.0</td>
      <td>1255</td>
      <td>190.70</td>
      <td>1051</td>
      <td>1138</td>
      <td>310900.0</td>
      <td>308327.112179</td>
      <td>-2572.887821</td>
    </tr>
    <tr>
      <th>107</th>
      <td>107</td>
      <td>2017-01-01</td>
      <td>4.17</td>
      <td>1221</td>
      <td>313100.0</td>
      <td>63.6</td>
      <td>93.02</td>
      <td>5.0</td>
      <td>1275</td>
      <td>208.47</td>
      <td>1069</td>
      <td>1129</td>
      <td>313100.0</td>
      <td>314039.937780</td>
      <td>939.937780</td>
    </tr>
    <tr>
      <th>108</th>
      <td>108</td>
      <td>2017-04-01</td>
      <td>3.98</td>
      <td>1184</td>
      <td>318200.0</td>
      <td>63.9</td>
      <td>99.06</td>
      <td>5.0</td>
      <td>1265</td>
      <td>213.20</td>
      <td>1072</td>
      <td>1158</td>
      <td>318200.0</td>
      <td>314542.317750</td>
      <td>-3657.682250</td>
    </tr>
    <tr>
      <th>109</th>
      <td>109</td>
      <td>2017-07-01</td>
      <td>3.88</td>
      <td>1179</td>
      <td>320500.0</td>
      <td>63.9</td>
      <td>99.85</td>
      <td>6.0</td>
      <td>1278</td>
      <td>215.23</td>
      <td>1084</td>
      <td>1127</td>
      <td>320500.0</td>
      <td>318648.974669</td>
      <td>-1851.025331</td>
    </tr>
    <tr>
      <th>110</th>
      <td>110</td>
      <td>2017-10-01</td>
      <td>3.92</td>
      <td>1236</td>
      <td>337900.0</td>
      <td>64.0</td>
      <td>102.54</td>
      <td>5.0</td>
      <td>1319</td>
      <td>211.07</td>
      <td>1102</td>
      <td>1191</td>
      <td>337900.0</td>
      <td>319542.069163</td>
      <td>-18357.930837</td>
    </tr>
    <tr>
      <th>111</th>
      <td>111</td>
      <td>2018-01-01</td>
      <td>4.28</td>
      <td>1308</td>
      <td>331800.0</td>
      <td>64.2</td>
      <td>108.26</td>
      <td>5.0</td>
      <td>1364</td>
      <td>222.40</td>
      <td>1113</td>
      <td>1228</td>
      <td>331800.0</td>
      <td>335670.348155</td>
      <td>3870.348155</td>
    </tr>
    <tr>
      <th>112</th>
      <td>112</td>
      <td>2018-04-01</td>
      <td>4.54</td>
      <td>1279</td>
      <td>315600.0</td>
      <td>64.5</td>
      <td>115.97</td>
      <td>6.0</td>
      <td>1347</td>
      <td>238.53</td>
      <td>1126</td>
      <td>1231</td>
      <td>315600.0</td>
      <td>328657.195209</td>
      <td>13057.195209</td>
    </tr>
    <tr>
      <th>113</th>
      <td>113</td>
      <td>2018-07-01</td>
      <td>4.57</td>
      <td>1240</td>
      <td>330900.0</td>
      <td>64.4</td>
      <td>109.37</td>
      <td>7.0</td>
      <td>1294</td>
      <td>244.60</td>
      <td>1130</td>
      <td>1196</td>
      <td>330900.0</td>
      <td>311201.916571</td>
      <td>-19698.083429</td>
    </tr>
    <tr>
      <th>114</th>
      <td>114</td>
      <td>2018-10-01</td>
      <td>4.78</td>
      <td>1162</td>
      <td>322800.0</td>
      <td>64.6</td>
      <td>92.89</td>
      <td>7.0</td>
      <td>1310</td>
      <td>245.53</td>
      <td>1145</td>
      <td>1103</td>
      <td>322800.0</td>
      <td>325008.030502</td>
      <td>2208.030502</td>
    </tr>
    <tr>
      <th>115</th>
      <td>115</td>
      <td>2019-01-01</td>
      <td>4.37</td>
      <td>1196</td>
      <td>313000.0</td>
      <td>64.2</td>
      <td>94.70</td>
      <td>6.0</td>
      <td>1305</td>
      <td>238.23</td>
      <td>1140</td>
      <td>1300</td>
      <td>313000.0</td>
      <td>318603.596272</td>
      <td>5603.596272</td>
    </tr>
    <tr>
      <th>116</th>
      <td>116</td>
      <td>2019-04-01</td>
      <td>4.01</td>
      <td>1274</td>
      <td>322500.0</td>
      <td>64.3</td>
      <td>93.30</td>
      <td>6.0</td>
      <td>1317</td>
      <td>228.77</td>
      <td>1132</td>
      <td>1239</td>
      <td>322500.0</td>
      <td>315180.561539</td>
      <td>-7319.438461</td>
    </tr>
    <tr>
      <th>117</th>
      <td>117</td>
      <td>2019-07-01</td>
      <td>3.66</td>
      <td>1293</td>
      <td>318400.0</td>
      <td>64.7</td>
      <td>95.45</td>
      <td>6.0</td>
      <td>1429</td>
      <td>215.67</td>
      <td>1151</td>
      <td>1217</td>
      <td>318400.0</td>
      <td>324147.870815</td>
      <td>5747.870815</td>
    </tr>
    <tr>
      <th>118</th>
      <td>118</td>
      <td>2019-10-01</td>
      <td>3.70</td>
      <td>1405</td>
      <td>327100.0</td>
      <td>65.0</td>
      <td>96.33</td>
      <td>5.0</td>
      <td>1490</td>
      <td>206.27</td>
      <td>1168</td>
      <td>1280</td>
      <td>327100.0</td>
      <td>319361.168356</td>
      <td>-7738.831644</td>
    </tr>
    <tr>
      <th>119</th>
      <td>119</td>
      <td>2020-01-01</td>
      <td>3.52</td>
      <td>1485</td>
      <td>329000.0</td>
      <td>65.3</td>
      <td>101.60</td>
      <td>6.0</td>
      <td>1470</td>
      <td>210.60</td>
      <td>1209</td>
      <td>1283</td>
      <td>329000.0</td>
      <td>327641.512019</td>
      <td>-1358.487981</td>
    </tr>
    <tr>
      <th>120</th>
      <td>120</td>
      <td>2020-04-01</td>
      <td>3.24</td>
      <td>1086</td>
      <td>322600.0</td>
      <td>68.1</td>
      <td>100.00</td>
      <td>5.0</td>
      <td>1212</td>
      <td>203.90</td>
      <td>1187</td>
      <td>1204</td>
      <td>322600.0</td>
      <td>328316.847770</td>
      <td>5716.847770</td>
    </tr>
    <tr>
      <th>121</th>
      <td>121</td>
      <td>2020-07-01</td>
      <td>2.95</td>
      <td>1440</td>
      <td>337500.0</td>
      <td>67.3</td>
      <td>145.00</td>
      <td>4.0</td>
      <td>1551</td>
      <td>202.17</td>
      <td>1210</td>
      <td>1327</td>
      <td>337500.0</td>
      <td>318135.836594</td>
      <td>-19364.163406</td>
    </tr>
    <tr>
      <th>122</th>
      <td>122</td>
      <td>2020-10-01</td>
      <td>2.76</td>
      <td>1575</td>
      <td>358700.0</td>
      <td>65.7</td>
      <td>147.59</td>
      <td>4.0</td>
      <td>1683</td>
      <td>216.40</td>
      <td>1246</td>
      <td>1329</td>
      <td>358700.0</td>
      <td>327418.929958</td>
      <td>-31281.070042</td>
    </tr>
    <tr>
      <th>123</th>
      <td>123</td>
      <td>2021-01-01</td>
      <td>2.88</td>
      <td>1599</td>
      <td>347500.0</td>
      <td>65.6</td>
      <td>183.76</td>
      <td>4.0</td>
      <td>1788</td>
      <td>266.97</td>
      <td>1293</td>
      <td>1391</td>
      <td>347500.0</td>
      <td>350503.973562</td>
      <td>3003.973562</td>
    </tr>
  </tbody>
</table>